---
import Card from "./ui/card/Card.astro";
import CardHeader from "./ui/card/CardHeader.astro";
import CardTitle from "./ui/card/CardTitle.astro";
import CardDescription from "./ui/card/CardDescription.astro";
import CardContent from "./ui/card/CardContent.astro";
import Badge from "./ui/Badge.astro";

interface Props {
  title: string;
  description: string;
  tags: readonly string[];
  link?: string;
}

const { title, description, tags, link } = Astro.props;
---

<Card class="flex flex-col overflow-hidden border border-muted p-3 m-1">
  <CardHeader class="">
    <div class="space-y-1">
      <CardTitle class="text-base">
        {
          link ? (
            <a
              href={link}
              target="_blank"
              class="inline-flex items-center gap-1 hover:underline"
            >
              {title} <span class="h-1 w-1 rounded-full bg-green-500" />
            </a>
          ) : (
            title
          )
        }
      </CardTitle>
      <div class="hidden font-mono text-xs underline print:visible">
        {link?.replace("https://", "").replace("www.", "").replace("/", "")}
      </div>
      <CardDescription class="font-mono text-xs">
        {description}
      </CardDescription>
    </div>
  </CardHeader>
  <CardContent class="mt-auto flex">
    <div class="mt-2 flex flex-wrap gap-1">
      {
        tags.map((tag) => (
          <Badge class="px-1 py-0 text-[10px]" variant="secondary" key={tag}>
            {tag}
          </Badge>
        ))
      }
    </div>
  </CardContent>
</Card>
